<!-- views/index.hbs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/styles.css">
</head>

<body>
    <div class="links">
        <a href="./">Home</a>
        <a href="./register">Register</a>
    </div>
    <div class="userDetails">
        <input type="text"  id="userTextField" name="userTextField"  value="username" />
        <input type="text"  id="passTextField" name="passTextField"  value="password" />
        <input type="button" id="login_button" value="Login">
    </div>

    <script src="routes/handle.js"></script>
</body>

</html>